/* Scrolling to display all tickets */

.media-scoller {
  display: grid;
  gap: .05rem;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  overflow-x: auto;
  align-items: center;
  overscroll-behavior-inline: contain;
  border-radius: 10px;
  border-left: 2px solid rgba(0, 0, 0, 1);
  border-right: 2px solid rgba(0, 0, 0, 1);
  border-top: 0px;
  box-shadow: 1px 1px 45px 0px rgb(255, 255, 255);
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75) inset;
  margin-bottom: 50px;
  width: max-content;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
}

.media-element {
  display: grid;
  padding: 0.5rem;
  justify-content: space-around;
}

.holditall {
  display: flex;

}

.testcontain {
  position: relative;
  width:fit-content;
}

.ticket_bg_img {
  background: url('../assets/blockchain.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

/* first attempt to display info */

.TransactionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #38384c00;
  color: white;
}

@media (max-width: 768px) {
  .TransactionList {
    margin-left: 0;
    margin-right: 0;
  }
}

.ticketholder {
  background-image: url("../assets/oneDcardbacking.jpg");
  max-height: 196px;
  width: 100%;
  justify-content: space-between;
  /* margin-right: 2rem; */
  padding: 1rem;
  /* background-color: #38384c; */
  border-radius: 1rem;
  border-color: rgba(255, 255, 255, 0.215);
  border-style: solid;
  border-width: 1;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .ticketholder {
    margin-right: 0;
  }
}

.ticketholder a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(50, 186, 231);
  font-weight: 900;
}

.spinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #edda0b;
  color: #323232;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.dropbtn:hover {
  background-color: #606ad8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d6f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #8088dc;
  color: #fff !important;
  font-weight: 900 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  width: 100%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #606ad8;
  left: -50px;
}